@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
$font-primary: "Poppins", sans-serif;
$font-secondary: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-teritary: "Karla", sans-serif;
$font-blog: Georgia, Cambria, "Times New Roman", Times, serif;

.sectionTitle {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: $font-primary;
    line-height: 52px;
    margin: unset;
}
.sectionSubtitle{
    margin: unset;
}
.logoDivider img{
    height: 2.25rem;
}

.dividerMinimal{
    display: block;
    content: "";
    background-color: $primary;
    width: 5rem;
    height: 3px;
    margin:20px auto 20px auto;
}

.heading-underlined{
    position: relative;
    display: unset;
    padding-bottom: .5rem;
    &:after {
        position: absolute;
        content: '';
        height: 2px;
        /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
        bottom: -4px; 
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        background: $primary;
        transition:.5s;
    }

}

.titleMinimal{
    font-family: $font-primary;
    font-weight: 500;
}