#breadcrumb{
    position: relative;
    li a{        
        color: $white;

    }
}
.breadcrumb {
  float: right;
  position: absolute;
  bottom: 0;
  right: 20px;
}
.about{
 position:relative;
}
//breadcrumb end
//overlay start
.page-cover{

  display:block;
  height:635px;

  position: relative;
  color:white;
}
.page-cover:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;

}
//overlay end
//responsive image start

//readmre start
.toggle-text {
  display: none;
}

//readmore end
.team-name{
  display: inline;
}
.team-designation{
  display: inline;
  font-style: italic;
}
//content start
.heading-wrapper{
  border:1px solid #333;
  background-color: $white !important;
  text-align:center;
}
//content end