//atributes start
.over{
    padding-top:30px;
    padding-bottom: 30px;
}
.attribute{
    .atr-icons{
        font-size:50px;
    }
}
 .atr-first{
    font-size:20px;
    font-weight:500;
    padding-left:16px;
}
.atr-second{
    font-size:15px;
    font-weight:500;
    padding-left:16px;
}