$font1: Georgia, Cambria, "Times New Roman", Times, serif;
.blogPost--heading{
    font-weight: 500;
    font-family: $font1;
}
.blogPost--content p{
    font-family: $font1;
    font-size: 1.125rem;
}
.inCategory{
    font-family: $font1;
}