
.tabContent{
  padding:0 16px;
  display:none;
  animation:fadeEffect .5s;
  text-align:justify !important;
}
.tabContent:target{
  display:block;
}

.tabbed-content{
  text-align:center;

}
 .tabs {
  display:inline-block; 
 background-color:$green;
  margin: 10px;
  cursor: pointer;
  padding: 20px 21px;
  height: 31px;
  line-height: 31px;

  color: #ccc;
  overflow: hidden;
  position: relative;;

}
 .tabs li{
  float:left; 
 display:inline-block;
}
.tabs li a{
  margin-left:50px;
}

