// category package info

.package-details{
    width: 60%;
    .price-info{
        width: 30%;
        font-size: 16px;
        font-weight: bold;
    }
    .price{
        width: 70%;
        font-size: 24px;
        font-weight: bold;
    }
}
