// contact page details start
.contact-info{
    .call{
        line-height: normal;
    }
    .call-details{
        padding-left:20px;
        font-weight:bold;
        font-size:25px;
        line-height: normal;

    }
    .phone{
        padding-left:121px;
        font-weight:bold;
        font-size:25px;
        color: $pink-base;
     
    }
    .chat{
        padding-left:121px;
        padding-buttom:130px;
        font-weight:bold;
        font-size:25px;
        color: $pink-base;

    }
     .call-meta{
        padding-left:121px;
        font-weight:500;
        font-size:15px;
       
     
    }
    .email{
        padding-top:45px;
        line-height: normal;
        font-size: 30px;
    }
    .mail-details{
        padding-left:25px;
        font-weight:bold;
        font-size:25px;
        line-height:normal;
    }
     .mail-meta{
        padding-left:121px;
        font-weight:500;
        font-size:15px;
       
     
    }

}
// contact page details end

