.ghost {
  padding-top: 90px;
}
.ghost {
  position: absolute;
  text-transform: uppercase;
  color: $white !important;
  bottom:0;
  width:48px;
  height:48px;
  left: 48%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
}
.ghost span {
  position: absolute;
  top: 0;
  left: 48%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}




