a:hover{
  text-decoration: none !important;
  cursor: pointer;
}

#hp-wrapper{
  
  background-color: white;
  h5{        
    color:  $grey-darken-4;
  }
}
#price-wrapper{
  padding: 5px;
  letter-spacing: 1px;
  width: 50%;
  z-index: 1;
  top:166px;
  left: -10px;
  right: unset;
  text-align: left;
  background-color: $green;
  position:relative;
  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
    border-width: 0 10px 10px 0;
    border-right-color: #219c81;
    left: 0;
  }

  .price{
    color: $white;
    text-transform: uppercase;
    span{
      display: block;
    }
    span:nth-child(odd) {
      font-size: 15px;

    }
    span:nth-child(even) {

      font-size: 15px;
    }        
  }
}
.home-tours{
  margin-top:40px;
  margin-bottom:40px;
}

//static image start
#banner {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#banner .inner {
  padding-top: 21%; /* height/width of image */
  display: block;
  height: 0;
}

/* default screen, non-retina */
#banner { background-image: url("/img/banner.svg"); }

@media only screen and (max-width: 320px) {
  /* Small screen, non-retina */
  #banner{ background-image: url("/img/banner.svg"); }
}

.banner-title {

   /* position: absolute;
     bottom: 150px;
     left: 360px;
     right:360px;
     color:white; */
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate( -50%, -50% );
     text-align: center;
     color: white;
     font-weight:10px;

   }
   .inner{
    position:relative;
    display: inline-block;
  }
  .banner{
    display:block;
  }
//static image end




@keyframes fadeIn { 
  from { opacity: 0; } 
}

.first-text {
  position: relative;
  color: $white;
  text-align: center;
  animation: fadeIn 1s infinite alternate;
}
.second-text {
  position: relative;
  color: $white;
  text-align: center;
  animation: fadeIn 1s infinite alternate;
}


//why  us start 

.intro{
  .intro-icon{
    font-size:54px;
    font-weight:800;
    color: $green;

  }
  .intro-title{
    font-size:18px;
    font-weight:bold;
  }
}
.who-para{
  font-size:14px;

}
//why us end

//featured us start

.featured{
  div{
    img{
      filter: grayscale(100%);
      &:hover{
        filter: none;
        transition: all 0.5s ease;
      }
    }
  }
}
//featured us end
