a:hover{
  text-decoration: none !important;
  cursor: pointer;
}

#price-wrapper{
  padding: 2px;
  letter-spacing: 1px;
  /* width: 50%; */
  z-index: 1;
  top:166px;
  left: -10px;
  right: unset;
  text-align: left;
  background-color: $green;
  position:relative;
  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
    border-width: 0 10px 10px 0;
    border-right-color: #219c81;
    left: 0;
  }

  .price{
    color: $white;
    text-transform: uppercase;
    span{
      display: block;
    }
    span:nth-child(odd) {
      font-size: 15px;

    }
    span:nth-child(even) {

      font-size: 15px;
    }        
  }
}
.home-tours{
  margin-top:40px;
  margin-bottom:40px;
}

//static image start
#banner {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#banner .inner {
  padding-top: 21%; /* height/width of image */
  display: block;
  height: 0;
}

/* default screen, non-retina */
#banner { background-image: url("/img/banner.svg"); }

@media only screen and (max-width: 320px) {
  /* Small screen, non-retina */
  #banner{ background-image: url("/img/banner.svg"); }
}

.banner-title {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate( -50%, -50% );
     text-align: center;
     color: white;
     font-weight:10px;

   }
   .inner{
    position:relative;
    display: inline-block;
  }
  .banner{
    display:block;
  }
//static image end






//why  us start 

.intro{
  .intro-icon{
    font-size:54px;
    font-weight:800;
    color: $green;

  }
  .intro-title{
    font-size:14px;
    font-weight:bold;
  }
  .intro-paragraph{
    font-size: 14px;
  }
}

//why us end

//featured us start

.featured{
  div{
    img{
      filter: grayscale(100%);
      &:hover{
        filter: none;
        transition: all 0.5s ease;
      }
    }
  }
}
//featured us end
//tour start
.hp-meta{
  .hp-product{
    text-transform:  capitalize;
    font-weight:bold;
    color:$dark;
  }
  .hp-days{
    font-weight:bold;
     color:$dark;
  }
}
//tour end
//destination overlay text start
.destination {
  position: relative;
 
}
.dest-topic{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 183, 206, 0.2);
  color: #fff;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;


  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.destination:hover .dest-topic {
  visibility: visible;
}


.dest-title {

  color: $white;
  font-size: 18px;
  transition: .2s;
  transform: translateY(1em);

}
.destination:hover .dest-title{
 transform: translateY(0);
}

//destinationn overlay text end
.hp-link{
  color:#666!important;
}
//home intro start
#home-sub-title{
  text-transform:capitalize; 
}
.home-title{
  text-transform: uppercase;
}
//home intro end
//follow start
.previous{
  color:$white;
  &:hover{
    color:$white;
  }
}
.next{
  color:$white;
  &:hover{
    color:$white;
  }
}
.modal{
  width:1200px;
}
.caption-instagram{
  font-size:14px;
}
//follow end