.uk-navbar-nav{
    .nav-list{
        .nav-a{
            font-weight:420;
            color:#333 !important;
        }
        :hover{
            color:$green !important;
        }
    }
    .uk-active {
        a{
            color:$green !important;            
        }
    }
}
