.uk-navbar-nav{
    .nav-list{
        .nav-a{
            font-weight:420;
            color:#333 !important;
        }
        :hover{
            color:#333!important;
        }
    }
    .nav-list {
        a{
            color:#333;            
        }
    }
}
.sidebar{
  .sidebar-list{
    .sidebar-listing{
      a{
           font-size:1.25rem;
      color:#fff !important;
      }
   
    }
  }
}


.nav-list{
    .nav-heading{
        .nav-link{
          color:#333;   
        }
       
    }
}

.navimg-wrapper{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;

}

.navimg-wrapper::before, .navimg-wrapper::after{
  content:"";
  width: 0;
  height: 4px;
  position: absolute;
  transition: all 0.2s linear;
  background:#219c81;
}

.navimg-inner::before, .navimg-inner::after{
  content:"";
  width:4px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background:#219c81;
}
.navimg-wrapper:hover::before, .navimg-wrapper:hover::after{
  width: 100%;
}
.navimg-wrapper:hover .navimg-inner::before, .navimg-wrapper:hover .navimg-inner::after{
  height: 100%;
}


/*----- button 6 -----*/
.navimg-wrapper::before{
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.navimg-wrapper::after{
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.navimg-wrapper .navimg-inner::before{
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.navimg-wrapper .navimg-inner::after{
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}

.navimg-wrapper:hover::before, .navimg-wrapper:hover::after{
  left: 0;
}
.navimg-wrapper:hover .navimg-inner::before, .navimg-wrapper:hover .navimg-inner::after{
  top: 0;
}




