#scroll {
    display: inline-block;
    position:fixed;
    right:20px;
    top:100px;
    cursor:pointer;
    width:40px;
    height:40px;
    border-radius: 8px;
 /*    background-color:$dark; */
    outline: 2px solid $dark;
    text-indent:-9999px;
    display:none;
    z-index:20;
    transition: .3s all ease;
  
}
#scroll span {
    position:absolute;
    top:40%;
    left:40%;
    margin-left:-8px;
    margin-top:-15px;
    height:0;
    width:0;
    border:12px solid transparent;
    border-bottom-color:$dark;

}
#scroll span:hover{
     border-bottom-color:$green;
}
#scroll:hover {
    outline: 2px solid $green;
      border-bottom-color:$green;
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}