@import url(https://fonts.googleapis.com/css?family=Roboto:400,600,700,800,900);html,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  font-family: 'Roboto', sans-serif;
}

.green {
  background-color: #2ed3ae !important;
}

.green-lighten-5 {
  background-color: #74e2c9 !important;
}

.green-lighten-4 {
  background-color: #66dfc4 !important;
}

.green-lighten-3 {
  background-color: #58dcbe !important;
}

.green-lighten-2 {
  background-color: #4ad9b9 !important;
}

.green-lighten-1 {
  background-color: #3cd6b3 !important;
}

.green-darken-1 {
  background-color: #2ac6a3 !important;
}

.green-darken-2 {
  background-color: #27b898 !important;
}

.green-darken-3 {
  background-color: #24aa8c !important;
}

.green-darken-4 {
  background-color: #219c81 !important;
}

.green-darken-5 {
  background-color: #1e8e75 !important;
}

.grey {
  background-color: #9e9e9e !important;
}

.grey-lighten-5 {
  background-color: #fafafa !important;
}

.grey-lighten-4 {
  background-color: #f5f5f5 !important;
}

.grey-lighten-3 {
  background-color: #eeeeee !important;
}

.grey-lighten-2 {
  background-color: #e0e0e0 !important;
}

.grey-lighten-1 {
  background-color: #bdbdbd !important;
}

.grey-darken-1 {
  background-color: #757575 !important;
}

.grey-darken-2 {
  background-color: #616161 !important;
}

.grey-darken-3 {
  background-color: #424242 !important;
}

.grey-darken-4 {
  background-color: #212121 !important;
}

.black {
  background-color: #000000 !important;
}

.white {
  background-color: #FFFFFF !important;
}

.transparent {
  background-color: transparent !important;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 14px;
}

.text-large {
  font-size: 16px;
}

.text-x-large {
  font-size: 18px;
}

.text-xx-large {
  font-size: 24px;
}

body {
  background-color: #FFFFFF;
}

.uk-padding-xsmall {
  padding: 5px !important;
}

/* .responsive-image {
  width: 100%;
  height: auto;
} */

/* @import "module/ui-kit"; */

.uk-navbar-nav .nav-list .nav-a {
  font-weight: 420;
  color: #333 !important;
}

.uk-navbar-nav .nav-list :hover {
  color: #333 !important;
}

.uk-navbar-nav .nav-list a {
  color: #333;
}

.sidebar .sidebar-list .sidebar-listing a {
  font-size: 1.25rem;
  color: #fff !important;
}

.nav-list .nav-heading .nav-link {
  color: #333;
}

.navimg-wrapper {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.navimg-wrapper::before,
.navimg-wrapper::after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #219c81;
}

.navimg-inner::before,
.navimg-inner::after {
  content: "";
  width: 4px;
  height: 0;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #219c81;
}

.navimg-wrapper:hover::before,
.navimg-wrapper:hover::after {
  width: 100%;
}

.navimg-wrapper:hover .navimg-inner::before,
.navimg-wrapper:hover .navimg-inner::after {
  height: 100%;
}

/*----- button 6 -----*/

.navimg-wrapper::before {
  left: 50%;
  top: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.navimg-wrapper::after {
  left: 50%;
  bottom: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.navimg-wrapper .navimg-inner::before {
  left: 0;
  top: 50%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.navimg-wrapper .navimg-inner::after {
  right: 0;
  top: 50%;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.navimg-wrapper:hover::before,
.navimg-wrapper:hover::after {
  left: 0;
}

.navimg-wrapper:hover .navimg-inner::before,
.navimg-wrapper:hover .navimg-inner::after {
  top: 0;
}

#foobar {
  background-color: #f8f8f8;
  color: #000000;
}

#foobar .foobar-logo a,
#foobar .foobar-btn-wrapper a,
#foobar .foobar-links a {
  color: black;
  font-weight: 450;
}

.foobar-btn-wrapper a.uk-button {
  margin-bottom: 10px;
  text-decoration: none;
}

.foobar-btn-wrapper a.uk-button a.uk-button:hover {
  text-decoration: none;
}

.foobar-btn-wrapper a.uk-button i,
.foobar-btn-wrapper a.uk-button span {
  line-height: 38px;
  font-size: 10px;
}

.footer-copyright {
  color: #000000;
}

.footer-copyright a {
  color: #000000;
}

.uk-footer {
  background: #24A3BF;
  color: #FFFFFF;
}

.uk-footer .footer-copyright {
  background: #24A3BF;
}

.footer-title {
  margin: unset;
  padding: 1em 0px;
}

.footer-title .bottom #goto {
  width: 100%;
  font-size: 13px;
}

.social-icons a {
  color: #2ed3ae;
}

.social-icons a:hover {
  color: #000000;
}

.social-icons a i {
  color: #2ed3ae;
}

.social-icons a i:hover {
  color: #000000;
}

.affilate-wrapper .affilate-inner img {
  width: 35px;
}

.affilate-wrapper .affilate-inner-logo img {
  width: 43px;
}

.request-wrapper .request-details {
  background-color: #eee;
}

.uk-sticky-placeholder {
  height: 0px !important;
  margin: 0px;
}

.overlay {
  background: rgba(0, 0, 0, 0.3) !important;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.price-wrapper {
  padding: 2px;
  letter-spacing: 1px;
  /* width: 50%; */
  z-index: 1;
  top: 200px;
  left: -10px;
  right: unset;
  text-align: left;
  background-color: #2ed3ae;
  position: relative;
}

.price-wrapper:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  bottom: -10px;
  border-width: 0 10px 10px 0;
  border-right-color: #219c81;
  left: 0;
}

.price-wrapper .price {
  color: #FFFFFF;
  text-transform: uppercase;
}

.price-wrapper .price span {
  display: block;
}

.price-wrapper .price span:nth-child(odd) {
  font-size: 20px;
}

.price-wrapper .price span:nth-child(even) {
  font-size: 20px;
}

.home-tours {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 360px) {
  .price-wrapper {
    top: 220px;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .price-wrapper {
    top: 160px;
  }
}

#banner {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#banner .inner {
  padding-top: 21%;
  /* height/width of image */
  display: block;
  height: 0;
}

/* default screen, non-retina */

#banner {
  background-image: url("/img/banner.svg");
}

@media only screen and (max-width: 320px) {
  /* Small screen, non-retina */

  #banner {
    background-image: url("/img/banner.svg");
  }
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: 10px;
}

.inner {
  position: relative;
  display: inline-block;
}

.banner {
  display: block;
}

.intro .intro-icon {
  font-size: 54px;
  font-weight: 800;
  color: #2ed3ae;
}

.intro .intro-title {
  font-size: 14px;
  font-weight: bold;
}

.intro .intro-paragraph {
  font-size: 14px;
}

.featured div img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.featured div img:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.similar-wrapper {
  padding: 0px 0px !important;
}

.hp-wrapper {
  padding: 7px 7px !important;
}

.hp-meta .hp-product {
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
  margin: 10px !important;
}

.hp-meta .hp-days {
  font-weight: bold;
  color: #333;
  margin: 10px !important;
}

.destination {
  position: relative;
  /* opacity: 0;
  transition:all .5s ease; */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.dest-topic {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.destination:hover .dest-topic {
  visibility: visible;
  padding: 0px !important;
}

.dest-title {
  color: #FFFFFF;
  font-size: 15px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dest-title h4 {
  color: #ffffff;
}

.hp-link {
  color: #666 !important;
}

.previous {
  color: #FFFFFF;
}

.previous:hover {
  color: #FFFFFF;
}

.next {
  color: #FFFFFF;
}

.next:hover {
  color: #FFFFFF;
}

.modal {
  width: 850px;
}

.instagram {
  font-size: 34px !important;
}

@media (max-width: 640px) {
  .instagram {
    font-size: 16px !important;
  }
}

@media (max-width: 640px) {
  .follow > div:nth-child(2n + 1) {
    text-align: right;
  }
}

.insta-lightbox {
  width: auto;
  height: 100%;
}

.insta-color span i {
  font-size: 32px;
}

#CDSWIDSSP {
  width: auto !important;
}

.travel-wrapper {
  position: relative;
  overflow: hidden;
}

.travel-wrapper .travel-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 20%;
  width: auto;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.travel-wrapper:hover .travel-overlay {
  opacity: 1;
  height: 25%;
}

.uk-heading-bullet::before {
  border-left: 2px solid !important;
  border-left-color: rgba(255, 255, 255, 0.9) !important;
  margin-left: 4px;
}

.travel-title {
  color: #fff;
  text-transform: capitalize;
  margin-top: 20px;
  margin-left: 0px;
  font-size: 15px;
}

.travel-tours {
  color: #fff;
  text-transform: capitalize;
  margin-top: 20px;
  margin-left: 7px;
  font-size: 15px;
}

@media screen and (max-width: 640px) {
  .travel-title,
  .travel-tours {
    color: #fff;
    font-size: 10px !important;
    margin-top: 10px;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 640px) {
  .travel-view {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 800px) {
  .travel-tours {
    margin-right: -69px !important;
  }
}

.travel-view {
  margin-left: 10px;
  margin-top: 5px;
  font-size: 15px;
  color: #fff;
}

.travel-view a:hover {
  color: #2ed3ae;
}

.next {
  color: #ffffff !important;
}

.travel-wrapper a img {
  -webkit-transition: 0.9s ease-out !important;
  transition: 0.9s ease-out !important;
}

em {
  color: #333 !important;
}

.contact-info .call {
  line-height: normal;
}

.contact-info .call-details {
  padding-left: 20px;
  font-weight: bold;
  font-size: 25px;
  line-height: normal;
}

.contact-info .phone {
  padding-left: 121px;
  font-weight: bold;
  font-size: 25px;
  color: #e91e63;
}

.contact-info .chat {
  padding-left: 121px;
  padding-buttom: 130px;
  font-weight: bold;
  font-size: 25px;
  color: #e91e63;
}

.contact-info .call-meta {
  padding-left: 121px;
  font-weight: 500;
  font-size: 15px;
}

.contact-info .email {
  padding-top: 45px;
  line-height: normal;
  font-size: 30px;
}

.contact-info .mail-details {
  padding-left: 25px;
  font-weight: bold;
  font-size: 25px;
  line-height: normal;
}

.contact-info .mail-meta {
  padding-left: 121px;
  font-weight: 500;
  font-size: 15px;
}

#contact-breadcrumb {
  position: relative;
}

#contact-breadcrumb li a {
  color: #FFFFFF;
}

.contact-breadcrumb {
  float: right;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.uk-container-expand {
  position: relative;
}

.package-details {
  width: 60%;
}

.package-details .price-info {
  width: 30%;
  font-size: 16px;
  font-weight: bold;
}

.package-details .price {
  width: 70%;
  font-size: 24px;
  font-weight: bold;
}

#cat-breadcrumb {
  position: relative;
}

#cat-breadcrumb li a {
  color: #FFFFFF;
}

.cat-breadcrumb {
  float: right;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.category {
  position: relative;
}

.category-cover {
  display: block;
  height: 635px;
  position: relative;
  color: white;
}

.category-cover:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.tm-nav li a {
  color: #333;
}

#breadcrumb {
  position: relative;
}

#breadcrumb li a {
  color: #FFFFFF;
}

.breadcrumb {
  float: right;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.uk-container-expand {
  position: relative;
}

.search-btn {
  margin-bottom: 25px !important;
  line-height: 40px !important;
}

.table .table-wrap .table-row .text-color {
  vertical-align: inherit !important;
}

.trip-details {
  padding: 28px;
  border-top: 3px solid #2ed3ae;
  border-bottom: 3px solid #2ed3ae;
}

.mobile-days .mobile-count {
  font-size: 20px;
  font-weight: bold;
  padding-top: 22px;
}

.mobile-duration .price-details {
  font-size: 20px;
  font-weight: bold;
}

.price-divide {
  border-left: 3px solid #26a69a;
}

#tab-wrapper .tab-ul {
  background-color: #FFFFFF;
}

#tab-wrapper .tab-ul .tab-li {
  padding: 20px 40px;
}

#tab-wrapper .tab-ul .tab-li a {
  font-weight: bold;
}

#tab-wrapper .tab-ul .uk-active {
  border-bottom: solid 2px #2ed3ae;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.similar-tours {
  background-color: #FFFFFF;
}

#similar-tours-img {
  padding-bottom: 10px;
}

#meta-title {
  padding-top: 10px;
  padding-bottom: 20px;
}

#meta-title a:hover {
  text-decoration: none;
}

#meta-title h4 {
  margin: unset;
  color: white;
  text-align: left;
  padding-left: 1em;
}

.tours {
  text-align: center;
}

.left {
  max-width: 10%;
  padding-left: 9px;
  margin-bottom: 12px;
  margin-right: 10px;
}

.left .count {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  margin-left: 15px;
}

.center {
  max-width: 60%;
  padding-left: 20px;
  padding-top: 4px;
  padding-right: 8px;
}

.center .center-price-info {
  max-width: 30%;
  font-size: 10px;
  font-weight: bold;
}

.center .center-price {
  max-width: 70%;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 7px;
}

.brandname {
  background-color: #FFFFFF;
}

#product-price-wrapper,
#product-price-wrapper1 {
  position: relative;
}

#product-price {
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF;
  width: inherit;
}

#product-price span {
  padding: 4px 0px;
}

#product-price .top {
  font-size: 20px;
  font-weight: bold;
}

#product-price .middle .middle-1 {
  font-weight: 500;
  font-size: 14px;
}

#product-price .middle .middle-2 {
  font-size: 40px;
  font-weight: 600;
}

#product-price .bottom #goto {
  width: 100%;
}

.non-sticky {
  bottom: 20px;
}

.sticky-price {
  top: -200px;
}

.sticky-wrapper {
  background-color: #FFFFFF;
}

.similar-tours {
  background-color: #FFFFFF;
}

#similar-tours-img {
  padding-bottom: 10px;
}

#meta-title {
  padding-top: 10px;
  padding-bottom: 20px;
}

#meta-title a:hover {
  text-decoration: none;
}

#meta-title h4 {
  margin: unset;
}

.left {
  width: 10%;
}

.left .count {
  font-size: 15px;
  font-weight: bold;
}

.discover {
  line-height: 42px !important;
}

.center {
  width: 60%;
}

.center .price-info {
  width: 30%;
  font-size: 16px;
  font-weight: bold;
}

.center .price {
  width: 70%;
  font-size: 24px;
  font-weight: bold;
}

#content-wrapper {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .sticky-price {
    display: none;
  }
}

#tab-wrapper ul {
  background-color: #FFFFFF;
}

.attribute-wrapper .attr-icons i {
  font-size: 2.5em;
  color: #2ed3ae;
}

.attribute-wrapper .attr-details .attr-title,
.attribute-wrapper .attr-details .attr-meta {
  font-size: 1em;
  font-weight: 700;
}

.booking-contact-info .booking-call {
  line-height: normal;
}

.booking-contact-info .booking-call-details {
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
}

.booking-contact-info .booking-phone {
  padding-left: 70px;
  font-weight: bold;
  font-size: 16px;
  color: #e91e63;
}

.booking-contact-info .booking-chat {
  padding-left: 70px;
  padding-buttom: 130px;
  font-weight: bold;
  font-size: 16px;
  color: #e91e63;
}

.booking-contact-info .booking-call-meta {
  padding-left: 70px;
  font-weight: bold;
  font-size: 12px;
  font-weight: bold;
}

.booking-contact-info .booking-email {
  padding-top: 45px;
  line-height: normal;
  font-size: 16px;
}

.booking-contact-info .booking-mail-details {
  padding-left: 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
}

.booking {
  background-color: #f8f8f8;
}

.circle-text {
  display: block;
  margin: auto;
  height: 150px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #2ed3ae;
  color: #fff;
  font-size: 16px;
  line-height: 150px;
  z-index: 1;
  position: relative;
}

.circle-text .medium i {
  font-size: 40px;
}

.circle-text .medium {
  font-style: bold !important;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .circle-text {
    height: 70px;
    width: 70px;
    line-height: 70px;
  }

  .steps:not(:first-child)::before {
    top: 37px !important;
  }

  .step:not(:first-child)::before {
    top: 37px !important;
  }
}

.step:nth-child(2) .circle-text {
  background: #2ed3ae;
}

.step:nth-child(3) .circle-text {
  background: #9e9e9e;
}

.a {
  display: inline-block;
  position: relative;
}

.uk-process-step {
  position: relative;
  margin-top: 130px;
}

.step:not(:first-child)::before {
  content: "";
  left: -50%;
  position: absolute;
  top: 77px;
  width: 100%;
  border-bottom: 5px solid #2ed3ae;
}

.step.active ~ .step:before {
  border-bottom: 5px dotted #9e9e9e;
}

.uk-process-step .uk-width-1-3 {
  position: relative;
}

.uk-table th {
  color: #333;
  font-size: 1.0rem !important;
}

.text-color {
  color: #333 !important;
}

html {
  color: #333 !important;
}

.uk-card-default {
  color: #333;
}

.booking-step {
  background-color: #f8f8f8;
}

.steps:nth-child(2) .circle-text {
  background: #9e9e9e;
}

.steps:nth-child(3) .circle-text {
  background: #9e9e9e;
}

.steps:not(:first-child)::before {
  content: "";
  left: -50%;
  position: absolute;
  top: 77px;
  width: 100%;
  border-bottom: 5px dotted #9e9e9e;
}

.steps.active ~ .steps:before {
  border-bottom: 5px dotted #9e9e9e;
}

.uk-process-steps .uk-width-1-3 {
  position: relative;
}

.booking-step {
  background-color: #f8f8f8;
}

.step3:nth-child(2) .circle-text {
  background: #2ed3ae;
}

.step3:nth-child(3) .circle-text {
  background: #2ed3ae;
}

.step3:not(:first-child)::before {
  content: "";
  left: -50%;
  position: absolute;
  top: 77px;
  width: 100%;
  border-bottom: 5px solid #2ed3ae;
}

.step3.active ~ .step3:before {
  border-bottom: 5px solid #2ed3ae;
}

.uk-process-step3 .uk-width-1-3 {
  position: relative;
}

.includes .included {
  color: #2ed3ae;
}

.excludes .excluded {
  color: red;
}

/* blue bar */

.sim-wrapper {
  height: 1px;
  width: auto;
  background: #9875B9;
  position: relative;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
}

/* Shine */

.sim-wrapper:after {
  content: '';
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  -webkit-animation: slide 5s infinite 5s;
          animation: slide 5s infinite 5s;
  /*
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/
  */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
}

/* animation */

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

/* blue bar */

.uno-wrapper {
  height: 0px;
  width: auto;
  background: #E61B23;
  position: relative;
  color: #FFFFFF;
  text-align: center;
  line-height: 40px;
  border-bottom: 3px solid #2ed3ae;
}

/* Shine */

.uno-wrapper:after {
  content: '';
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  -webkit-animation: slide 5s infinite 5s;
          animation: slide 5s infinite 5s;
  /*
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/
  */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
}

/* animation */

@keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.itinerary-wrapper .itinerary-list .itinerary-list-item .itinerary-item-link {
  color: #333;
}

.itinerary-list .itinerary-list-item a span:before {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #2ed3ae;
  color: #fff;
  line-height: 30px;
  z-index: 1;
  position: absolute;
  content: "\F192";
  font-size: 1rem;
  font-family: "Font Awesome 5 Free";
  margin: 0px 8px;
  left: -23px;
}

.itinerary-list .itinerary-list-item:first-child a span:before,
.itinerary-list .itinerary-list-item:last-child a span:before {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #2ed3ae;
  color: #fff;
  line-height: 30px;
  z-index: 1;
  position: absolute;
  content: "\F3C5";
  font-weight: bold;
  font-size: 1rem;
  font-family: "Font Awesome 5 Free";
  margin: 0px 8px;
  left: -23px;
}

.itinerary-list .itinerary-list-item {
  position: relative;
  margin: 0;
  border-left: 2px dashed #ccc;
  padding-left: 30px;
}

.itinerary-list .itinerary-list-item:last-child {
  border-left: none;
}

ul .budget-style-list li .uk-active a {
  border-bottom: 1px solid #2ed3ae;
}

#breadcrumb {
  position: relative;
}

#breadcrumb li a {
  color: #FFFFFF;
}

.breadcrumb {
  float: right;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.about {
  position: relative;
}

.page-cover {
  display: block;
  height: 80vh;
  position: relative;
  color: white;
}

.page-cover:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

.toggle-text {
  display: none;
}

.team-name,
.guide-name {
  display: inline;
  font-size: 22px;
  font-weight: 600;
}

.team-designation {
  display: inline;
  font-style: italic;
}

.about-heading-wrapper {
  border: 1px solid #333;
  background-color: #FFFFFF !important;
  text-align: center;
}

#about-content-wrapper .about-ul {
  background-color: #FFFFFF;
}

#about-content-wrapper .about-ul .about-li {
  padding: 20px 40px;
  text-transform: capitalize;
}

#about-content-wrapper .about-ul .about-li a {
  font-weight: bold;
}

#about-content-wrapper .about-ul .uk-active {
  border-bottom: solid 2px #2ed3ae;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.over-wrapper .over span {
  text-transform: capitalize;
}

#scroll {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  color: #333;
  line-height: 25px;
  z-index: 1;
  position: fixed;
  margin: 0px 20px;
  right: 0;
  top: 100px;
  outline: 2px solid #333;
}

#toast-container > .toast {
  background-image: none !important;
}

#toast-container > .toast:before {
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-size: 24px;
  line-height: 18px;
  float: left;
  margin-left: -1em;
  color: #FFF;
  padding-right: 0.5em;
  margin-right: 0.5em;
}

#toast-container > .toast-warning:before {
  content: "\F003";
}

#toast-container > .toast-error:before {
  content: "\F001";
}

#toast-container > .toast-info:before {
  content: "\F005";
}

#toast-container > .toast-success:before {
  content: "\F002";
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.article-wrap {
  position: relative;
  z-index: 10;
  padding-left: 16px;
  margin: 32px auto;
  overflow: hidden;
  -webkit-box-shadow: 0 14px 5px rgba(0, 0, 0, 0.03) !important;
          box-shadow: 0 14px 5px rgba(0, 0, 0, 0.03) !important;
  border-radius: 0px 0px 50px 10px  !important;
}

.article-wrap:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 8px;
  width: 8px;
  height: 20px;
  background: white;
}

.article-body {
  position: relative;
  z-index: 20;
  background: white;
  width: auto;
}

.article-body:after {
  content: '';
  position: absolute;
  bottom: -19px;
  top: 16px;
  left: -16px;
  background: #2ed3ae;
  width: 16px;
  border-bottom-left-radius: 8px 20px;
  border-bottom-right-radius: 8px 20px;
}

.article-body img {
  max-width: 100%;
  height: auto;
}

.calender-month li a {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.calender-month li.uk-active a {
  border-bottom: 1.5px solid #2ed3ae;
}

.hover-effect,
.foobar-btn-wrapper a.uk-button a.uk-button:hover,
.social-icons a:hover,
.social-icons a i:hover,
.contact-button:hover,
.uk-button:hover,
.uk-button-default:hover,
.button-link:hover {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.contact-button {
  color: #000000 !important;
  background-color: transparent;
  border: 1px solid #333;
  overflow: visible;
  text-transform: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
}

.contact-button:hover {
  color: #FFFFFF !important;
  background-color: #2ed3ae;
}

.uk-button {
  color: #FFFFFF;
  background-color: #2ed3ae;
  border: 1px solid #e5e5e5;
  overflow: visible;
  text-transform: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
  line-height: 53px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
}

.uk-button:hover {
  color: #FFFFFF;
  background-color: #212121;
}

.uk-button-default {
  color: #333;
  background-color: transparent;
  border: 1px solid #333;
  overflow: visible;
  text-transform: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 400;
  line-height: 53px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
}

.uk-button-default:hover {
  color: #FFFFFF;
  background-color: #2ed3ae;
}

.button-link {
  color: #333;
  overflow: visible;
  text-transform: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  line-height: 53px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
}

.button-link:hover {
  color: #2ed3ae;
}

.home-heading-primary {
  text-decoration: none;
  position: relative;
  font-weight: 400px;
  text-transform: uppercase;
}

.home-heading-primary:after {
  position: absolute;
  content: '';
  height: 16px;
  /*   adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -25px;
  /*  center - (optional) use with adjusting width */
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 100%;
  font-weight: 900 !important;
  background-image: url("/img/Flag.png");
  background-position: center;
  background-size: 160px 80px;
  background-repeat: no-repeat;
}

.home-heading-secondary {
  text-decoration: none;
  position: relative;
  font-weight: 900px;
  text-transform: uppercase;
}

.home-heading-secondary:after {
  position: absolute;
  content: '';
  height: 16px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -25px;
  /* center - (optional) use with adjusting width   */
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50%;
  font-weight: 900 !important;
  background-image: url("/img/Flag.png");
  background-position: center;
  background-size: 160px 80px;
  background-repeat: no-repeat;
}

.instagram {
  text-transform: uppercase;
  background: radial-gradient(circle at -15% 0%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.main-heading {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  font-family: Raleway;
  font-weight: bold;
}

.main-heading:after {
  width: 200px;
  content: "";
  border-top: 1px solid #2ed3ae;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -100px;
}

.page-heading {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 10px;
  font-family: Raleway;
  font-weight: bold;
  top: 50%;
  bottom: 50%;
}

.page-heading:after {
  width: 200px;
  content: "";
  border-top: 1px solid #2ed3ae;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.page-subheading {
  position: relative;
  top: 50%;
  bottom: 50%;
}

@media (min-width: 320px) and (max-width: 812px) {
  .heading-wrapper .page-heading {
    font-size: 25px;
  }

  .heading-wrapper .page-subheading {
    font-size: 13px;
  }
}

.heading-wrapper {
  background: rgba(0, 0, 0, 0.3) !important;
  padding: 15px 15px;
  bottom: 20%;
  left: 5%;
  right: 30%;
}

.heading-wrapper .travel-heading {
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 10px;
  font-family: Raleway;
  font-weight: bold;
  top: 50%;
  bottom: 50%;
}

.heading-wrapper .travel-heading:after {
  width: 150px;
  content: "";
  border-top: 1px solid #2ed3ae;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.heading-wrapper .travel-sub-heading {
  font-size: 20px;
  position: relative;
  top: 50%;
  bottom: 50%;
}

@media (min-width: 320px) and (max-width: 812px) {
  .heading-wrapper .travel-heading {
    font-size: 25px;
  }

  .heading-wrapper .travel-sub-heading {
    font-size: 13px;
  }
}

#home-sub-title {
  text-transform: capitalize;
  color: #333;
  font-style: italic;
  quotes: '"' '"';
}

#sub-title {
  text-transform: lowercase;
}

.home-title {
  text-transform: uppercase;
}

.carousel-heading {
  display: block;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
  color: #fff;
}

.carousel-para {
  display: block;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

@media (min-width: 320px) and (max-width: 812px) {
  .carousel-heading {
    font-size: 24px;
  }
}

@media (min-width: 320px) and (max-width: 812px) {
  .carousel-para {
    font-size: 14px;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
            transform: translate(-100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.calendar-heading {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 10px;
  font-family: Raleway;
  font-weight: bold;
  top: 50%;
  bottom: 50%;
}

.calendar-heading:after {
  width: 200px;
  content: "";
  border-top: 1px solid #2ed3ae;
  position: absolute;
  bottom: -15px;
  left: 0;
}

.calendar-subheading {
  position: relative;
  top: 55%;
  bottom: 55%;
  line-height: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .calendar-subheading {
    line-height: 1.3 !important;
    font-size: 10px;
  }
}

.product-main-heading {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  font-weight: bold;
  top: 50%;
}

.product-main-heading:after {
  width: 200px;
  content: "";
  border-top: 1px solid #2ed3ae;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -100px;
}

.ghost,
.ghost:before {
  position: absolute;
  left: 50%;
}

.ghost {
  position: absolute;
  text-transform: uppercase;
  color: #FFFFFF !important;
  bottom: 138px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
}

.ghost span {
  position: absolute;
  top: -35px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-device-width: 768px) {
  .ghost {
    height: 8px;
    left: 45%;
    bottom: 14px;
    font-size: 10px;
  }
}

.ghost {
  -webkit-animation: moveInButton .5s ease-out .75s;
          animation: moveInButton .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes moveInButton {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.blogIndex-header--title,
.blogIndex-body--title {
  font-weight: 500;
}

.blogPost--card {
  padding: 20px !important;
}

.blogPost--title {
  font-weight: 500;
}

.blogPost--heading {
  font-weight: 500;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.blogPost--content p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.125rem;
}

.inCategory {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

