.image-page-header{
	@extend  .uk-height-large , .uk-flex , .uk-flex-center , .uk-flex-middle , .uk-background-cover , .uk-light;
	// height: 90vh;
	position: relative;
	&-l{
		height: 90vh;
	}
	&-m{
		height: 70vh;
	}
}

.pageDescription-holder{
    @extend .uk-overlay;
    width: 100%;
    .pageTitle{
        @extend .heading-underlined;
    }
    .pageDescription{
        color: $white;
        font-size: 1.25rem;
    }
}