.sliderWrapper,
.destinationsWrapper,
.tourPacakge-wrapper {
    @extend .uk-margin-medium-top;
}

.content-wrapper {
    @extend .uk-margin-medium-top;
    .content-item {
        @extend .uk-text-center;
        i {
            color: $light-black;
            font-size: 3.5rem;
        }
        &:hover {
            i {
                animation: ease-in 0.2s;
                color: $primary;
            }
        }
        &__title {
            font-family: $font-primary;
            font-weight: 600;
            @extend .uk-margin, .uk-margin-remove-horizontal;
            font-size: 1.0625rem;
        }
        &__paragraph {
            font-family: $font-secondary;
        }
    }
}
#prologue p {
    font-family: $font-secondary;
    font-size: 1.0625rem;
}

.sliderWrapper {
    @extend .uk-position-relative, .uk-visible-toggle, .uk-light;
    .sliderList--item {
        @extend .uk-transition-toggle;
    }
    .sliderList--item {
        .sliderPanel {
            @extend .uk-panel;
            &--textHolder {
                @extend .uk-overlay, .uk-text-left;
                background-color: rgba(0, 0, 0, 0.1);
                transition: 0.8s ease-out;

                h3 {
                    margin: 0 0 25px 50px !important;
                    font-family: $font-primary;
                }
                &__hover {
                    @extend .uk-transition-fade,
                        .uk-position-cover,
                        .uk-overlay;
                    color: $white;
                    background-color: rgba(0, 0, 0, 0.2);
                    h4 {
                        font-family: $font-primary;
                    }
                    p {
                        color: $white;
                        font-family: $font-secondary;
                    }
                }
            }
        }
        // &:hover .sliderPanel--textHolder {
        //     display: none;
        // }
    }
}

.destinationsWrapper {
    @extend .uk-grid-small;
    .destinationLeft > div,
    .destinationRight > div {
        padding-bottom: 15px;
    }
    .destinationItem {
        &__overlay {
            @extend .uk-overlay, .uk-light;
            &--title {
                font-family: $font-teritary;
            }
        }
    }
}

.tourPacakge-wrapper {
    .tourPackage--detailWrapper {
        @extend .uk-card-body, .uk-padding-small;
        h4 {
            padding-bottom: 8px;
            font-family: $font-teritary;
            font-size: 19px;
        }
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .content-wrapper {
        padding: 5px 10px;
    }
}

#featured-media {
    @extend .uk-padding, .uk-padding-remove-horizontal;
}
.mentioned-list {
    &__item {
        padding: 0px 8px;
        a img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: ease-in .2s;
            &:hover{
                filter: none;
            }
        }
    }
}
.slide-item {
    position: relative;
 }
 
 .slide-item img {
    max-width: 100%;
 //    width:100%;
 }