.nav-container {
    background-color: $white !important;
    @extend .uk-navbar-container, .uk-box-shadow-large;

    .nav-wrapper {
        @extend .uk-navbar;
        .logo-wrapper {
            @extend .uk-navbar-left;
        }
        .link-wrapper {
            @extend .uk-navbar-right;
            .nav-list {
                @extend .uk-navbar-nav;
                &__item {
                    &--dropdown-wrapper {
                        @extend .uk-navbar-dropdown;
                        background-color: $dashed;
                        .thumbNav--list {
                            @extend .uk-grid;
                            .thumbNav--list__item {
                                h4 a{
                                    color: $light-black1;
                                }
                                transition: transform 0.4s;
                                &:hover {
                                    transform: translateY(-5px) scale(1.01);
                                    color: $light-black;
                                }
                            }
                        }
                    }
                    &--link {
                        @extend .uk-text-uppercase;
                        font-family: $font-primary !important;
                        color: $black !important;
                        font-weight: 500;
                        color: $light-black;
                    }
                }
            }
        }
    }
}
.uk-sticky-placeholder {
    display: none;
}

.mobile-nav {
    @extend .uk-navbar-right;
    .toggleButton {
        @extend .uk-navbar-toggle;
    }
}
.mobileMenu-list {
    @extend .uk-nav, .uk-nav-default;
    &__item {
        &:not(:first-child) {
            @extend .uk-margin-small-top;
        }
        &--link {
            font-size: 1.25rem;
            color: $white !important;
        }
    }
}
